# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [12]:
weather_csv_file = "C:/Users/User/Desktop/python-API-challenge/WeatherPy/df_test.csv"
weather_df_test = pd.read_csv(weather_csv_file)
weather_df_test.head()

,City,Country,Date,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed
0,punta arenas,CL,1.650140e+09,-53.1500,-70.9167,48.11,76.0,40.0,11.50
1,vaini,TO,1.650139e+09,-21.2000,-175.2000,81.54,69.0,92.0,10.85
2,morlaix,FR,1.650140e+09,48.5833,-4.0000,61.12,65.0,0.0,8.05
3,hobart,AU,1.650140e+09,-42.8794,147.3294,57.25,89.0,100.0,1.14
4,iqaluit,CA,1.650139e+09,63.7506,-68.5145,9.70,78.0,100.0,3.00

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [13]:
# Configure gmaps
gmaps.configure(api_key=g_key)

In [14]:
weather_df_test = weather_df_test.dropna()

# Bring in location data pairs, humidity data, define map and layer, and add layer to map
locations = weather_df_test[["Lat", "Lon"]]


#weight
humidity = weather_df_test["Humidity"].astype(float)

In [5]:
#heatmap
fig = gmaps.figure()

heatmap_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=1)

# Add layer
fig.add_layer(heatmap_layer)

#save

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [15]:
# Narrow down the Data

Narrowd_weather_df = weather_df_test

# A max temperature lower than 80 degrees but higher than 70.
Temperature_df = Narrowd_weather_df[(Narrowd_weather_df["Max Temp"] < 80) & (Narrowd_weather_df["Max Temp"] > 70)]
                           
# Wind speed <10 mph.
Windspeed_df = Narrowd_weather_df[Narrowd_weather_df["Wind Speed"] < 10]

# cloudiness=0.
cloudiness_df = Narrowd_weather_df[Narrowd_weather_df["Cloudiness"] == 0]

# Drop any rows with null values
cloudiness_df = cloudiness_df.dropna()

cloudiness_df

,City,Country,Date,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed
2,morlaix,FR,1.650140e+09,48.5833,-4.0000,61.12,65.0,0.0,8.05
11,nikolskoye,ZA,1.650140e+09,-33.9258,18.4232,61.11,67.0,0.0,15.01
15,mys shmidta,ZA,1.650140e+09,-34.5322,20.0403,59.65,72.0,0.0,14.63
17,merauke,US,1.650140e+09,71.2906,-156.7887,3.22,78.0,0.0,19.57
20,barrow,AU,1.650140e+09,-23.5833,148.8833,61.95,83.0,0.0,6.24
...,...,...,...,...,...,...,...,...,...
567,mahajanga,DE,1.650140e+09,49.7117,12.0872,41.14,66.0,0.0,0.00
574,kenai,ZA,1.650140e+09,-29.6643,17.8865,63.00,33.0,0.0,6.71
577,rjukan,US,1.650140e+09,55.3422,-131.6461,48.67,40.0,0.0,5.75
579,bako,NC,1.650140e+09,-21.5500,167.8833,76.95,81.0,0.0,5.93
580,cuamba,AR,1.650140e+09,-32.9468,-60.6393,78.94,40.0,0.0,9.22

In [16]:
Temperature_df = Narrowd_weather_df[(Narrowd_weather_df["Max Temp"] < 80) & (Narrowd_weather_df["Max Temp"] > 70)]

Windspeed_df = Temperature_df[Temperature_df["Wind Speed"] < 10]

cloudiness_df = Windspeed_df[Windspeed_df["Cloudiness"] == 0]

cloudiness_df = cloudiness_df.dropna()

cloudiness_df

,City,Country,Date,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed
112,wattegama,IN,1.650140e+09,20.9000,70.3667,79.97,72.0,0.0,9.66
244,halifax,EG,1.650140e+09,26.7292,33.9365,77.59,43.0,0.0,6.33
349,mantua,RE,1.650140e+09,-21.3393,55.4781,76.68,78.0,0.0,8.05
371,asau,NC,1.650140e+09,-20.9667,164.7000,71.26,86.0,0.0,3.53
471,santa marinella,NC,1.650140e+09,-22.6667,167.4833,76.41,71.0,0.0,8.25
508,bhanpuri,NP,1.650140e+09,28.2333,81.3333,78.51,16.0,0.0,6.22
579,bako,NC,1.650140e+09,-21.5500,167.8833,76.95,81.0,0.0,5.93
580,cuamba,AR,1.650140e+09,-32.9468,-60.6393,78.94,40.0,0.0,9.22

### Hotel Map
* Create a dataframe named `hotel_df` that is the df created above only with the pertinent data.  See the prepared code below (`info_box_template`) to determine what data you will need for your final map.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels (aka "lodging") within 5000 meters.
* Utilize the Google Places API to find the first hotel search result.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [17]:
# Create dataframe and empty column
hotel_df = cloudiness_df
#Add hotel name
hotel_df["Hotel_Name"] = ""

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
#set parameters
params = {
"radius": 5000,
"types": "hotel",
"key": g_key
}
# Loop through dataframe and add nearby hotel result

for index, row in hotel_df.iterrows():
    # get lat, lng from df
    latitude = row["Lat"]
    longitude = row["Lon"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{latitude},{longitude}"
    
    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {row['City']}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    try:
        print(f"Closest hotel is {results[0]['name']}.")
        hotel_df.loc[index, 'Hotel_Name'] = results[0]['name']
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

Retrieving Results for Index 112: wattegama.
Closest hotel is Veraval.
------------
Retrieving Results for Index 244: halifax.
Closest hotel is Safaga.
------------
Retrieving Results for Index 349: mantua.
Closest hotel is Saint Pierre.
------------
Retrieving Results for Index 371: asau.
Closest hotel is Voh.
------------
Retrieving Results for Index 471: santa marinella.
Closest hotel is Vao.
------------
Retrieving Results for Index 508: bhanpuri.
Closest hotel is Gulariya.
------------
Retrieving Results for Index 579: bako.
Closest hotel is Tadine.
------------
Retrieving Results for Index 580: cuamba.
Closest hotel is Rosario.
------------

In [18]:
hotel_df

,City,Country,Date,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Hotel_Name
112,wattegama,IN,1.650140e+09,20.9000,70.3667,79.97,72.0,0.0,9.66,Veraval
244,halifax,EG,1.650140e+09,26.7292,33.9365,77.59,43.0,0.0,6.33,Safaga
349,mantua,RE,1.650140e+09,-21.3393,55.4781,76.68,78.0,0.0,8.05,Saint Pierre
371,asau,NC,1.650140e+09,-20.9667,164.7000,71.26,86.0,0.0,3.53,Voh
471,santa marinella,NC,1.650140e+09,-22.6667,167.4833,76.41,71.0,0.0,8.25,Vao
508,bhanpuri,NP,1.650140e+09,28.2333,81.3333,78.51,16.0,0.0,6.22,Gulariya
579,bako,NC,1.650140e+09,-21.5500,167.8833,76.95,81.0,0.0,5.93,Tadine
580,cuamba,AR,1.650140e+09,-32.9468,-60.6393,78.94,40.0,0.0,9.22,Rosario

In [19]:
# NOTE: Do not change any of the code in this cell
# Analyze the code below for variables but these should be all columns in hotel_df

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel_Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lon"]]

In [20]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)
# Display figure
fig

Figure(layout=FigureLayout(height='420px'))